.md-content img {
    display: block;
    width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
    border-radius: 20px;
    /*box-shadow: grey;*/
}

.md-typeset ol li, .md-typeset ul li {
    margin-left: 1em;
}


.md-typeset ol li img, .md-typeset ul li img {
    margin-top: 1em;
}

@media only screen and (min-width: 600px) {
    .md-content img {
        width: 70%;
  }
}

/*ol {*/
/*  counter-reset: li;*/
/*  padding: 0;*/
/*  margin: 0;*/
/*  list-style: none;*/
/*}*/

/*ol li {*/
/*  list-style: none;*/
/*  margin: 1em 0;*/
/*  padding-left: 2.25em;*/
/*  position: relative;*/
/*}*/

/*ol li::after {*/
/*  counter-increment: li;*/
/*  content: counter(li);*/
/*  position: absolute;*/
/*  font-size: 0.9em;*/
/*  left: 0;*/
/*  font-weight: 600;*/
/*  top: -0.25em;*/
/*  width: 1.75em;*/
/*  height: 1.75em;*/
/*  background-color: #000;*/
/*  color: #fff;*/
/*  border-radius: 50%;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/
